/*tr {*/
    /*cursor:pointer;*/
/*}*/
/*table {*/
    /*overflow: hidden;*/
    /*border-collapse: collapse;*/
    /*width: 100%;*/
    /*border-radius: 0.8em;*/
    /*line-height: 3em;*/
/*}*/

/*th, td {*/
    /*text-align: left;*/
    /*padding: 8px;*/
/*}*/

/*tr:nth-child(even){*/
    /*background-color: #dfdbdf;*/
/*}*/

/*th {*/
    /*background-color : #E040FB;*/
    /*color: white;*/
/*}*/

body {
    background-color: #F3EBF6;
    font-family: 'Ubuntu', sans-serif;
}

button {
    float: right;
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #9C27B0, #E040FB);
    border: 0;
    padding: 10px 40px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 2px;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

