.main {
    /*display: flex;*/
    /*margin-top: 1em;*/
    /* display: flex; */
    background-color: #FFFFFF;
    width: 400px;
    height: 400px;
    margin: auto;
    /*margin-top: 6em;*/
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

#descriptive_answer {
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    width: 350px;
    height: 112px;
    border-radius: 10px;
    left: 0;
    right: 0;
    text-align: center;
}

button {
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #9C27B0, #E040FB);
    border: 0;
    padding: 10px 40px;
    /*margin-left: 2px;*/
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

button:disabled,
button[disabled]{
    background: linear-gradient(to right, #d228e6, #f2a8fb);
}

#question {
    padding-top: 40px;
}

#timer {
    font-size: 20px;
}

#choices {
    line-height: 2.5;
}