tr {
    cursor:pointer;
    transition: 0.2s;
}
table {
    overflow: hidden;
    border-collapse: collapse;
    width: 100%;
    border-radius: 0.8em;
    line-height: 3em;
    margin-top: 2vh;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){
    background-color: #dfdbdf;
}

th {
    background-color : #E040FB;
    color: white;
}

